.vscode/

__pycache__/
traces_ch/.vscode/
traces_ch/__pycache__/

solutions.txt
tiempos.txt
traces_amano.lp
theformula.lp
traces.lp
prefix_tree.lp
CSAR.txt

env/
.dependencygraph/

xxbig_formula.py
kirril_files/automatons/
kirril_files/traces/
